<div id="{{ chart.get_html_id }}" style="width: {{ chart.width }}px; height: {{ chart.height }}px;"></div>
<script>
$(function () {
    $('#{{ chart.get_html_id }}').highcharts({
        chart: {
            type: "{{ chart.get_chart_type }}"
        },
        title: {
            text: "{{ chart.get_options.title }}"
        },

        xAxis: {
            {% if  chart.get_categories %}
            categories: {{ chart.get_categories|safe }},
            {% endif %}
            {% if chart.get_x_axis_type %}
            type: "{{ chart.get_x_axis_type }}",
            {% endif %}
            {% if chart.get_x_axis_datetime_format %}
            dateTimeLabelFormats: {{ chart.get_x_axis_datetime_format|safe }},
            {% endif %}
            title: {
                text: '{{ chart.get_x_axis_title }}'
            }
        },

        series: {{ chart.get_series|safe }}
    });
});
</script>

